<div>
  <nav class="navbar navbar-default">
    <div class='container-fluid'>
      <a class='navbar-brand'>{{title}}</a>
      <ul class='nav navbar-nav'>
        <li>
          <a [routerLink]="['/welcome']">Home</a>
        </li>
        <li>
          <a [routerLink]="['/gauges']">Gauges</a>
        </li>
        <li>
          <a [routerLink]="['/fileupload']">File Upload</a>
        </li>
        <li>
            <a [routerLink]="['/forms']">Forms</a>
        </li>
        <li>
            <a [routerLink]="['/toastr']">Toastr</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class='container'>
    <router-outlet></router-outlet>
  </div>
  <div>

  </div>
</div>
