<div class="container">
    <div col-sm-12>
      <div class="panel panel-primary ">
        <div class="panel-heading ">{{pageTitle}}</div>
        <div class="panel-body">
          <div class="container-fluid">
            <button class="btn btn-success" (click)="showSuccess()">Toastr Tester</button>
            <button class="btn btn-danger" (click)="showError()">Toastr Tester</button>
            <button class="btn btn-warning" (click)="showWarning()">Toastr Tester</button>
            <button class="btn btn-info" (click)="showInfo()">Toastr Tester</button>
            <button class="btn btn-primary" (click)="showCustom()">Toastr Tester</button>

          </div>
        </div>
      </div>
    </div>

  </div>

